<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='scripts/libs/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/app/app.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom/custom.css') }}">
    <script>
        get(
            {{ components | safe }}
        )
    </script>
</head>
<body id="main-body">
</body>
</html>